{
	"env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": [
    "prettier"
  ],
  "plugins": [
     "prettier"
  ],
  "rules": {
    "import/no-commonjs": "off",
    "linebreak-style": "off",
    "prettier/prettier": [
      "error", 
      {
        "tabWidth": 4,
        "printWidth": 100,
        "semi": false,
        "singleQuote": true,
        "trailingComma": "all",
        "bracketSpacing": false
      }
    ]
  }
}