{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true,
    "browser": true
  },
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "func-names":  ["error", "never"],
    "indent": [2, "tab"],
    "no-tabs": 0,
    "no-console":0,
    "no-param-reassign": 0,
    "no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
    'no-restricted-syntax': [
      'error',
      'ForInStatement',
      'LabeledStatement',
      'WithStatement',
    ],
    "globals": { "fetch": false }
  }
}