# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Node.js Package

on:
  # Trigger the workflow on push on v2.0
  push:
    branches:
      - v2.0

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: npm ci
      - run: npm test

  publish-gpr:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: sudo apt-get install jq
      - run: |
          npm ci
          npm config set registry https://npm.pkg.github.com/
          export VERSION=$(cat package.json | jq '.version' | sed 's/"//g')
          echo "::set-env name=VERSION::$VERSION"
      - run: npm unpublish "@terminusdb/terminusdb-client@$VERSION"
        env:
          NODE_AUTH_TOKEN: ${{secrets.node_api_key_github}}
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
