name: Build and release on npm
on:
  push:
    tags:
      - v*

permissions:
  contents: read
  id-token: write

jobs:
  setup-build-publish-deploy:
    name: Setup, Build, Publish, and Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Use Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: 20
        registry-url: 'https://registry.npmjs.org'
    - run: npm ci
    - run: npm run build
    - run: npm run generate-types
    - run: npm publish --provenance
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_PKG_TOKEN }}
